<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/Servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>Servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/Servlet/registerServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>servlet3</servlet-name>
    <servlet-class>Servlet.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet3</servlet-name>
    <url-pattern>/Servlet/SearchBookServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>servlet4</servlet-name>
    <servlet-class>Servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet4</servlet-name>
    <url-pattern>/Servlet/CollectServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>servlet5</servlet-name>
    <servlet-class>Servlet.DisLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet5</servlet-name>
    <url-pattern>/Servlet/DislikeServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>servlet6</servlet-name>
    <servlet-class>Servlet.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet6</servlet-name>
    <url-pattern>/Servlet/FindServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>servlet7</servlet-name>
    <servlet-class>Servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet7</servlet-name>
    <url-pattern>/Servlet/ScoreServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>servlet8</servlet-name>
    <servlet-class>Servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet8</servlet-name>
    <url-pattern>/Servlet/ReadServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>servlet9</servlet-name>
    <servlet-class>Servlet.ShowReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet9</servlet-name>
    <url-pattern>/Servlet/ShowReadServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>servlet10</servlet-name>
    <servlet-class>Servlet.ShowCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet10</servlet-name>
    <url-pattern>/Servlet/ShowCollectServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>servlet11</servlet-name>
    <servlet-class>Servlet.ShowDislikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet11</servlet-name>
    <url-pattern>/Servlet/ShowDislikeServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>servlet12</servlet-name>
    <servlet-class>Servlet.RecommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet12</servlet-name>
    <url-pattern>/Servlet/RecommendServlet</url-pattern>
  </servlet-mapping>
</web-app>